*{
    text-align: center;
    
}
body{
    background-color: rgb(46, 46, 46);
    height: 100%;
    margin: 0;
flex: 1;
    

}
p{
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
html{
    height: 100%;
    margin: 0;
}
#FlyinaPotato{
    max-width: 300px;
height: auto;
}
header{
    background-color: purple;
}
.container{
    margin: 20px;
}
#animatronics{
    margin: auto;  
    width: 300px;
    height: auto;
    border-color: black;
    border-radius: 20px;
    background-color:rgba(128, 255, 0, 0.5);
    font-weight: bolder;
    padding: 1px;
    text-shadow:-1px -1px 0 white,1px -1px 0 white,-1px  1px 0 white,1px  1px 0 white; 
}
#yourLife{
    background-color: rgb(79, 46, 46);
    border-radius: 15px;
    width: 350px;
    margin: auto;
}
.animaP{
    width: 250px;
    text-align: left;
    padding: 5px;
    color: black;
}

button{
    width: 150px;
    height: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(105, 105, 105);
}
button:hover{
    animation: forwards;
    background-color: rgb(45, 45, 45);
}
.footer {
  position: fixed; /* Positions the footer relative to the browser window */
  bottom: 0;      /* Anchors it to the very bottom */
  left: 0;        /* Starts it from the left edge */
  width: 100%;    /* Ensures it spans the full width of the screen */
  background-color: #333; /* Example background color */
  color: white;   /* Example text color */
  text-align: center; /* Example text alignment */
  padding: 10px 0; /* Example padding for content within the footer */
  height: 50px;
}